PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
INSERT INTO migrations VALUES(17,'0001_01_01_000000_create_users_table',1);
INSERT INTO migrations VALUES(18,'0001_01_01_000001_create_cache_table',1);
INSERT INTO migrations VALUES(19,'0001_01_01_000002_create_jobs_table',1);
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
INSERT INTO password_reset_tokens VALUES('hussm010203@gmail.com','$2y$12$YaFTqVsSSDKI.TeXfHvpvOxD9aYvELQP8nLw6qIwluH55nlB0/EZe','2025-07-11 23:06:17');
INSERT INTO password_reset_tokens VALUES('akramalyuosfi77@gmail.com','$2y$12$JZdlgYUUu8AQStTV8Vee8.M5JXEVcxAPpPJPz1WZ/KII.KBGWnE9G','2025-07-11 23:10:09');
INSERT INTO password_reset_tokens VALUES('akramalyuosfi@gmail.com','$2y$12$4LtoVbMs1tjm6fgd/UixTeW6hQfAVRJQvsklx5TdLkFgBrB6vyeje','2025-07-11 23:20:18');
CREATE TABLE IF NOT EXISTS "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"));
INSERT INTO sessions VALUES('8heUvrjWAStQEYcq02rgcrRnSyEt7YrlmMuXcfFy',NULL,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36','YToyOntzOjY6Il90b2tlbiI7czo0MDoiRlJrb2pGaGFVUllZR0NYSDdCeFF3bmxWRFZkdDhLNFFWY0RrRkhBUiI7czo2OiJfZmxhc2giO2E6Mjp7czozOiJvbGQiO2E6MDp7fXM6MzoibmV3IjthOjA6e319fQ==',1763832251);
INSERT INTO sessions VALUES('BVywbguRkvvcw5y4ZYFO4dCWS6BJG7eS2zaqfa9e',3,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36','YTo0OntzOjY6Il90b2tlbiI7czo0MDoiZTd6aXVvWDlDckdhV3RGSFlyVjBweEJkMU5KWVduYlhDSzh4bm56OCI7czo5OiJfcHJldmlvdXMiO2E6MTp7czozOiJ1cmwiO3M6MzM6Imh0dHA6Ly8xMjcuMC4wLjE6ODAwMC9hZG1pbi91c2VycyI7fXM6NjoiX2ZsYXNoIjthOjI6e3M6Mzoib2xkIjthOjA6e31zOjM6Im5ldyI7YTowOnt9fXM6NTA6ImxvZ2luX3dlYl81OWJhMzZhZGRjMmIyZjk0MDE1ODBmMDE0YzdmNThlYTRlMzA5ODlkIjtpOjM7fQ==',1763838593);
INSERT INTO sessions VALUES('emG1qskm8Q2ZyvNfyKd7i6jr88NZftwnV1vKpHdI',46,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36','YTo0OntzOjY6Il90b2tlbiI7czo0MDoielNEY3l2RjZHSEFwQ01RTkhkRDBZa3F1R3VlbUt3WWlUb0JoQWRnRiI7czo2OiJfZmxhc2giO2E6Mjp7czozOiJvbGQiO2E6MDp7fXM6MzoibmV3IjthOjA6e319czo5OiJfcHJldmlvdXMiO2E6MTp7czozOiJ1cmwiO3M6MjE6Imh0dHA6Ly9sb2NhbGhvc3Q6ODAwMCI7fXM6NTA6ImxvZ2luX3dlYl81OWJhMzZhZGRjMmIyZjk0MDE1ODBmMDE0YzdmNThlYTRlMzA5ODlkIjtpOjQ2O30=',1763838337);
CREATE TABLE IF NOT EXISTS "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"));
INSERT INTO cache VALUES('laravel_cache_contact-form:127.0.0.1:timer','i:1763743349;',1763743349);
INSERT INTO cache VALUES('laravel_cache_contact-form:127.0.0.1','i:1;',1763743350);
INSERT INTO cache VALUES('laravel_cache_admin@naql.com|127.0.0.1:timer','i:1763746960;',1763746960);
CREATE TABLE IF NOT EXISTS "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "jobs" ("id" integer primary key autoincrement not null, "queue" varchar not null, "payload" text not null, "attempts" integer not null, "reserved_at" integer, "available_at" integer not null, "created_at" integer not null);
CREATE TABLE IF NOT EXISTS "job_batches" ("id" varchar not null, "name" varchar not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text, "cancelled_at" integer, "created_at" integer not null, "finished_at" integer, primary key ("id"));
CREATE TABLE IF NOT EXISTS "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" text not null, "queue" text not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "departments" ("id" integer primary key autoincrement not null, "name" varchar not null, "description" text, "created_at" datetime, "updated_at" datetime);
INSERT INTO departments VALUES(1,'┘ç┘╪»╪│╪ر','┘è╪┤┘à┘ ╪ش┘à┘è╪╣ ╪د┘╪د┘é╪│╪د┘à ┘┘è ┘à╪ش╪د┘ ╪د┘╪ص╪د╪│┘ê╪ذ ','2025-06-23 03:23:20','2025-10-15 19:59:56');
INSERT INTO departments VALUES(2,'╪╖╪ذ','┘é╪│┘à ╪د┘╪╖╪ذ ╪ذ┘â┘ ╪د┘┘ê╪د╪╣┘ç ','2025-06-23 03:23:27','2025-10-15 19:59:31');
INSERT INTO departments VALUES(3,'wael','AL-YOSOFI','2025-07-17 20:22:26','2025-10-15 19:59:12');
CREATE TABLE IF NOT EXISTS "specializations" ("id" integer primary key autoincrement not null, "name" varchar not null, "description" text, "duration" varchar, "department_id" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("department_id") references "departments"("id") on delete cascade);
INSERT INTO specializations VALUES(1,'IT',NULL,'4',1,'2025-06-23 03:23:46','2025-06-23 03:23:46');
INSERT INTO specializations VALUES(2,'╪د╪│┘╪د┘','eyJpdiI6IjlPVi9zQUd2czBRR25oWTdxZzcxblE9PSIsInZhbHVlIjoiVTY5VlBmTUgzTU9kMm1QSTVhNmRTdz09IiwibWFjIjoiNWMyMGZhNTg0YzJmM2Y4YzM2NDBlNmJmNGYyN2RjYzNiMzJjNWNjOTFjODUyMjc5ODMzYjE3YzJhZjczNmU2MSIsInRhZyI6IiJ9','5',2,'2025-06-23 03:23:59','2025-10-13 22:34:37');
INSERT INTO specializations VALUES(6,'wael','eyJpdiI6InFIQ3kvdWxmUG9uSnp2ZEtSQzJIZXc9PSIsInZhbHVlIjoiaCtEUTc2SjBNSy9Bem8rVkd1dncvWGVTblpoVWlrWU9tUnVaV2lON2Jqbz0iLCJtYWMiOiI5YzIxMTU1OWQyMTgwM2FmNjlhNmQ0ZWFjZjNkODA4OTY1ZWE2MjgxZmYxZTM0YzgwMzExZGM4ODM3ZDY1NjJjIiwidGFnIjoiIn0=','4',1,'2025-10-17 23:52:46','2025-10-17 23:52:46');
CREATE TABLE IF NOT EXISTS "batches" ("id" integer primary key autoincrement not null, "name" varchar not null, "start_year" integer not null, "specialization_id" integer not null, "current_academic_year" integer not null default '1', "current_semester" integer not null default '1', "created_at" datetime, "updated_at" datetime, "academic_year" integer, "semester" integer, foreign key("specialization_id") references "specializations"("id") on delete cascade);
INSERT INTO batches VALUES(5,'╪╡╪╡',2022,2,1,1,'2025-06-24 20:30:36','2025-06-25 15:51:14',1,1);
INSERT INTO batches VALUES(6,'it 2023',2023,1,1,1,'2025-06-25 15:51:54','2025-07-17 00:17:44',1,1);
INSERT INTO batches VALUES(7,'╪│┘╪د┘',2024,2,1,1,'2025-08-20 17:50:15','2025-10-30 06:53:08',1,2);
CREATE TABLE IF NOT EXISTS "courses" ("id" integer primary key autoincrement not null, "name" varchar not null, "code" varchar not null, "type" varchar not null, "academic_year" integer, "semester" integer, "specialization_id" integer, "description" text, "created_at" datetime, "updated_at" datetime, "student_replies_enabled" tinyint(1) not null default '1', foreign key("specialization_id") references specializations("id") on delete cascade on update no action);
INSERT INTO courses VALUES(5,'c++','c5','╪╣┘à┘┘ë',1,1,1,'┘à╪┤ ╪╖╪ذ┘è╪╣┘è','2025-06-25 15:54:20','2025-08-20 19:48:42',1);
INSERT INTO courses VALUES(6,'╪د╪ص┘è╪د╪ة','e9','┘╪╕╪▒┘ë',1,1,1,replace('jije\n','\n',char(10)),'2025-07-08 21:24:17','2025-08-20 21:02:26',1);
INSERT INTO courses VALUES(7,'eeg','8c3','╪╣┘à┘┘ë',1,2,1,'gerg╪ز┘╪ز┘╪د┘╪ز╪د┘╪ز╪د╪ز┘╪د╪ز┘╪د┘','2025-07-17 00:16:57','2025-11-21 21:40:30',1);
CREATE TABLE IF NOT EXISTS "specialization_course_academic_period" ("id" integer primary key autoincrement not null, "specialization_id" integer not null, "course_id" integer not null, "academic_year" integer not null, "semester" integer not null, "created_at" datetime, "updated_at" datetime, "doctor_id" integer, foreign key("course_id") references courses("id") on delete cascade on update no action, foreign key("specialization_id") references specializations("id") on delete cascade on update no action, foreign key("doctor_id") references "doctors"("id") on delete set null);
INSERT INTO specialization_course_academic_period VALUES(6,1,5,1,1,'2025-06-25 15:54:20','2025-07-08 16:07:30',13);
INSERT INTO specialization_course_academic_period VALUES(7,1,6,1,1,'2025-07-08 21:24:17','2025-07-11 01:54:33',13);
INSERT INTO specialization_course_academic_period VALUES(9,1,7,1,1,'2025-07-17 00:16:57','2025-10-24 17:18:53',13);
CREATE TABLE IF NOT EXISTS "assignments" ("id" integer primary key autoincrement not null, "title" varchar not null, "description" text, "course_id" integer not null, "doctor_id" integer not null, "deadline" datetime not null, "created_at" datetime, "updated_at" datetime, foreign key("course_id") references "courses"("id") on delete cascade, foreign key("doctor_id") references "doctors"("id") on delete cascade);
INSERT INTO assignments VALUES(4,'╪ز┘â┘┘è┘ ╪د╪ص┘è╪د╪ة 2',NULL,6,13,'2025-09-07 00:30:00','2025-07-08 21:28:07','2025-07-08 21:28:07');
INSERT INTO assignments VALUES(5,'┘à╪┤ ╪╖╪ذ┘è╪╣┘è','┘è╪╡┘è╪╡',6,13,'2025-11-04 02:17:00','2025-07-08 21:42:53','2025-11-03 02:17:41');
INSERT INTO assignments VALUES(11,'╪ذ╪ص╪س ╪╣┘ ╪د┘╪ذ╪▒╪ز┘ê┘â┘ê┘╪د╪ز','╪د╪ذ╪»╪د ┘à╪┤ ╪╖╪ذ┘è╪╣┘è',6,13,'2026-12-06 21:00:00','2025-07-14 22:56:19','2025-11-03 02:16:34');
CREATE TABLE IF NOT EXISTS "submissions" ("id" integer primary key autoincrement not null, "assignment_id" integer not null, "student_id" integer not null, "title" varchar, "description" text, "status" varchar not null default 'pending', "grade" integer, "feedback" text, "created_at" datetime, "updated_at" datetime, foreign key("assignment_id") references "assignments"("id") on delete cascade, foreign key("student_id") references "students"("id") on delete cascade);
INSERT INTO submissions VALUES(3,4,4,'┘é┘┘┘┘┘é┘','┘é┘┘┘é┘','submitted',NULL,NULL,'2025-07-08 21:32:02','2025-07-08 21:32:02');
INSERT INTO submissions VALUES(5,5,4,'┘╪ز╪ز┘','╪ر┘╪ز┘ë','submitted',NULL,NULL,'2025-07-08 21:43:43','2025-07-08 21:43:43');
INSERT INTO submissions VALUES(11,11,4,'erfer┘┘é┘','erferfer┘é┘┘┘┘é┘','submitted',66,'╪ص┘┘ê','2025-07-17 23:03:58','2025-08-20 22:03:40');
CREATE TABLE IF NOT EXISTS "submission_files" ("id" integer primary key autoincrement not null, "submission_id" integer not null, "file_path" varchar not null, "file_name" varchar, "file_type" varchar, "description" text, "created_at" datetime, "updated_at" datetime, foreign key("submission_id") references "submissions"("id") on delete cascade);
INSERT INTO submission_files VALUES(5,5,'submissions/z0jYfJzVj3rNisN7n2arGi5FZ4Vbp1BnEDri4Pzd.pptx','╪د┘╪د┘┘ê╪د┘.pptx','application/octet-stream',NULL,'2025-07-08 21:43:43','2025-07-08 21:43:43');
INSERT INTO submission_files VALUES(10,12,'submissions/UI3RYZHLTyScfnYaVMYRBfgH3jSH3zKqGyCq4duN.jpg','images.jpeg','application/octet-stream',NULL,'2025-07-18 21:12:32','2025-07-18 21:12:32');
INSERT INTO submission_files VALUES(11,13,'submissions/UZOg12jKnofLC9MGYdhubAUkxq8E0AnBw3L8hrWS.jpg','15746432_5591816.jpg','application/octet-stream',NULL,'2025-07-18 23:21:48','2025-07-18 23:21:48');
CREATE TABLE IF NOT EXISTS "doctors" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "phone" varchar, "profile_image" varchar, "created_at" datetime, "updated_at" datetime, "user_id" integer, foreign key("user_id") references "users"("id") on delete cascade);
INSERT INTO doctors VALUES(13,'╪ص╪│╪د┘à ╪»┘ê┘à╪د┘','akram55@gmail.com','775315121','profile_images/DM8Q4jFNHlztCMCEJeS5weuS2Sjv3z5bgcBZmQEf.png','2025-07-08 15:45:20','2025-11-04 23:53:28',13);
INSERT INTO doctors VALUES(14,'╪ص╪│╪د┘à','hosamalyuosfi1@gmail.com','77777777777','profile_images/DcGlGidu90Tsce9orthHVfCuQvN7uCTSA7P51laQ.png','2025-07-10 04:42:32','2025-10-24 17:15:29',18);
INSERT INTO doctors VALUES(15,'╪ص╪│╪د┘à','hosamalyuosfi11@gmail.com','772231038','profile_images/rRGIGaimaUTyV1cl58Jl0ykLy0an0PBvau3ixzJJ.jpg','2025-07-10 05:22:38','2025-10-24 17:15:09',19);
CREATE TABLE IF NOT EXISTS "project_files" ("id" integer primary key autoincrement not null, "project_id" integer not null, "file_path" varchar not null, "file_name" varchar not null, "file_type" varchar not null, "file_size" integer not null, "description" text, "type" varchar check ("type" in ('image', 'video', 'presentation', 'document', 'other')) not null, "created_at" datetime, "updated_at" datetime, foreign key("project_id") references "projects"("id") on delete cascade);
INSERT INTO project_files VALUES(19,15,'project_files/Gf99IL4QMHXImPUMFyOaktvynAArp8Hor3UWP3r0.jpg','15746432_5591816.jpg','image/jpeg',183967,'┘è╪╡╪س┘è╪س╪╡╪ذ','image','2025-07-14 00:56:57','2025-07-14 00:56:57');
INSERT INTO project_files VALUES(21,17,'project_files/MH3byvXeM0wgPefqAXEZm4NYs1887O5szoLDF809.jpg','15746432_5591816.jpg','image/jpeg',183967,'╪د┘╪║╪د┘╪║╪د','image','2025-07-15 01:20:52','2025-07-15 01:20:52');
INSERT INTO project_files VALUES(22,18,'project_files/aVB6ZWXAXEziXs4GPFqGZVTDCXWwxxUky9qXKj2B.jpg','15746432_5591816.jpg','image/jpeg',183967,'┘é┘╪د┘┘é╪د┘é┘','image','2025-07-17 18:49:29','2025-07-17 18:49:29');
CREATE TABLE IF NOT EXISTS "project_likes" ("id" integer primary key autoincrement not null, "project_id" integer not null, "user_id" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("project_id") references "projects"("id") on delete cascade, foreign key("user_id") references "users"("id") on delete cascade);
INSERT INTO project_likes VALUES(12,15,29,'2025-07-14 03:18:34','2025-07-14 03:18:34');
INSERT INTO project_likes VALUES(21,17,14,'2025-07-17 06:32:01','2025-07-17 06:32:01');
INSERT INTO project_likes VALUES(22,18,14,'2025-07-17 23:10:45','2025-07-17 23:10:45');
CREATE TABLE IF NOT EXISTS "project_comments" ("id" integer primary key autoincrement not null, "project_id" integer not null, "user_id" integer not null, "comment" text not null, "created_at" datetime, "updated_at" datetime, foreign key("project_id") references "projects"("id") on delete cascade, foreign key("user_id") references "users"("id") on delete cascade);
INSERT INTO project_comments VALUES(12,15,14,'╪د╪د╪║┘╪د','2025-07-14 01:25:55','2025-07-14 01:25:55');
INSERT INTO project_comments VALUES(13,15,14,'╪س┘é┘┘╪س┘é┘','2025-07-14 01:33:08','2025-07-14 01:33:08');
INSERT INTO project_comments VALUES(14,15,14,'┘ç╪ز┘ç╪ز','2025-07-14 01:43:37','2025-07-14 01:43:37');
CREATE TABLE IF NOT EXISTS "project_student" ("id" integer primary key autoincrement not null, "project_id" integer not null, "student_id" integer not null, "is_main_creator" tinyint(1) not null default '0', "created_at" datetime, "updated_at" datetime, "membership_status" varchar check ("membership_status" in ('pending', 'approved', 'rejected')) not null default 'pending', foreign key("project_id") references "projects"("id") on delete cascade, foreign key("student_id") references "students"("id") on delete cascade);
INSERT INTO project_student VALUES(29,15,13,0,'2025-07-14 00:56:57','2025-07-14 00:56:57','approved');
INSERT INTO project_student VALUES(30,15,4,0,'2025-07-14 00:56:57','2025-07-14 01:24:20','rejected');
INSERT INTO project_student VALUES(31,15,14,0,'2025-07-14 00:56:57','2025-07-18 21:16:58','approved');
CREATE TABLE IF NOT EXISTS "projects" ("id" integer primary key autoincrement not null, "student_id" integer not null, "batch_id" integer not null, "specialization_id" integer not null, "title" varchar not null, "description" text, "status" varchar not null default ('pending'), "academic_year" integer not null, "semester" integer not null, "created_at" datetime, "updated_at" datetime, "course_id" integer, "doctor_id" integer, "grade" integer, "feedback" text, "supervision_status" varchar check ("supervision_status" in ('pending', 'approved', 'rejected')), foreign key("course_id") references courses("id") on delete set null on update no action, foreign key("student_id") references students("id") on delete cascade on update no action, foreign key("batch_id") references batches("id") on delete cascade on update no action, foreign key("specialization_id") references specializations("id") on delete cascade on update no action, foreign key("doctor_id") references "doctors"("id"));
INSERT INTO projects VALUES(15,14,6,1,'┘┘┘┘┘┘┘┘┘┘┘┘┘┘┘','┘┘╪د╪ذ╪خ┘é┘┘é','pending',1,1,'2025-07-14 00:56:57','2025-07-18 23:24:39',6,13,NULL,NULL,'rejected');
INSERT INTO projects VALUES(17,13,6,1,'╪╣┘ç┘╪╣┘ç┘╪╣┘ç┘','╪╣┘ç┘╪╣┘ç┘╪╣','completed',1,1,'2025-07-15 01:20:52','2025-08-20 20:36:07',6,13,33,'╪╡╪س╪ذ╪س╪ذ╪╡','approved');
INSERT INTO projects VALUES(18,4,6,1,'┘╪║╪ز┘╪║╪ز╪ز╪║╪╣╪ز╪║╪╣╪ز╪║','╪║╪╣╪ز╪║╪ز╪║╪╣╪ز╪║','pending',1,1,'2025-07-17 18:49:29','2025-08-20 20:28:00',6,13,NULL,NULL,'rejected');
CREATE TABLE IF NOT EXISTS "lectures" ("id" integer primary key autoincrement not null, "course_id" integer not null, "doctor_id" integer not null, "title" varchar not null, "description" text, "lecture_date" date, "created_at" datetime, "updated_at" datetime, foreign key("course_id") references "courses"("id") on delete cascade, foreign key("doctor_id") references "doctors"("id") on delete cascade);
INSERT INTO lectures VALUES(1,6,13,'┘â┘è┘ ╪ز╪╡╪ذ╪ص ╪د╪د╪▒╪╣  ,,,,,,,,,,,,,,','┘┘è ╪«┘à╪│ ╪»┘é╪د┘è┘é jjjjjjjjjj','2025-07-10','2025-07-10 03:08:14','2025-10-06 02:47:16');
INSERT INTO lectures VALUES(2,7,17,'┘╪ز┘╪ز╪ز┘','┘┘à╪ر┘à┘┘à╪ز┘à┘à╪ز┘à╪ز┘à╪ز┘à┘╪ز┘à┘╪ز┘à┘╪ز┘à╪ز┘','2025-08-20','2025-08-20 18:21:22','2025-08-20 18:21:22');
INSERT INTO lectures VALUES(4,5,13,'┘é┘┘┘┘é','┘┘é┘┘┘é┘┘rferf','2025-08-20','2025-08-20 20:11:23','2025-08-20 20:25:15');
CREATE TABLE IF NOT EXISTS "lecture_files" ("id" integer primary key autoincrement not null, "lecture_id" integer not null, "file_path" varchar not null, "file_name" varchar not null, "file_type" varchar not null, "file_size" integer not null, "type" varchar not null, "description" text, "created_at" datetime, "updated_at" datetime, foreign key("lecture_id") references "lectures"("id") on delete cascade);
INSERT INTO lecture_files VALUES(1,1,'lecture_files/FEU96PMffcKV5W5yHK6OBF3mPiwmuBEAIlQQxChl.jpg','15746432_5591816.jpg','image/jpeg',183967,'image','┘é┘┘é╪د','2025-07-10 03:08:14','2025-07-10 03:08:14');
INSERT INTO lecture_files VALUES(2,2,'lecture_files/3F5xG4zvIO3D7KiqGz5D8km5qfMJ5gIzB34S04HA.pdf','╪ح╪»╪د╪▒╪ر_╪ث╪▓┘à╪ر_╪د┘┘╪│╪د╪»_╪د┘╪ص┘â┘ê┘à┘è_┘┘è_╪د┘╪╣╪▒╪د┘é.pdf','application/pdf',3233512,'pdf','╪ز┘à┘╪ز┘à╪ز┘à','2025-08-20 18:21:22','2025-08-20 18:21:22');
INSERT INTO lecture_files VALUES(4,4,'lecture_files/OEYZvuswpI7C3GjKi9JNbC6HbYcJUDeKFRnPBNXe.pdf','╪ص╪╡╪د┘_╪╖╪▒┘ê╪د╪»╪ر_╪د┘╪╣╪»┘ê_╪د┘╪▒┘é┘à┘è_╪د┘┘à╪ز╪«┘┘è.pdf','application/pdf',7935201,'pdf','╪ذ┘é╪ذ╪س╪ذ╪س┘é','2025-08-20 20:11:23','2025-08-20 20:11:23');
CREATE TABLE IF NOT EXISTS "students" ("id" integer primary key autoincrement not null, "name" varchar not null, "student_id_number" varchar not null, "email" varchar, "phone" varchar, "gender" varchar, "date_of_birth" date, "address" varchar, "profile_image" varchar, "batch_id" integer, "current_academic_year" integer not null default ('1'), "current_semester" integer not null default ('1'), "status" varchar not null default ('┘╪┤╪╖'), "created_at" datetime, "updated_at" datetime, "user_id" integer, foreign key("user_id") references users("id") on delete cascade on update no action, foreign key("batch_id") references batches("id") on delete cascade on update no action);
INSERT INTO students VALUES(2,'Akram','akram@gmail.com','akram@alyuosfi.com','775315121','╪░┘â╪▒','2005-12-09','╪ذ┘è╪ز ╪ذ┘ê╪│','profile_images/omw9fH582auoVz3CQh91Ml0VoKOwOyec7SYqL9C6.jpg',6,1,1,'┘╪┤╪╖','2025-06-25 19:44:53','2025-07-08 03:29:15',1);
INSERT INTO students VALUES(3,'┘à╪┤ ╪╖╪ذ╪╣┘è','01686163','akrams@gmail.com','775315121','╪░┘â╪▒','2005-09-20','fdj f,s',NULL,6,1,1,'┘╪┤╪╖','2025-07-08 19:34:04','2025-07-08 19:34:04',NULL);
INSERT INTO students VALUES(4,'Akram alyuosfi','016861632','akramalyuosfi77@gmail.com','7753151211','╪░┘â╪▒','2005-09-12','╪ذ┘è╪ز ╪ذ┘ê╪│','profile_images/Pdc4xlz6CV2zOWPFy9pJ0ykMQAYF8L4PAyNQOwaI.jpg',6,1,1,'┘╪┤╪╖','2025-07-08 20:42:35','2025-07-08 20:42:35',14);
CREATE TABLE IF NOT EXISTS "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "remember_token" varchar, "created_at" datetime, "updated_at" datetime, "role" varchar not null default ('student'), "is_active" tinyint(1) not null default '0', "background" varchar, "phone" varchar, "date_of_birth" date, "address" varchar, "fcm_token" text);
INSERT INTO users VALUES(1,'Akram','akram1234@gmail.com',NULL,'$2y$12$V5J9XAfbiipCObTYejpILuQUSQM9Wxtdr3V9E8NlEt4JEreIj5w06','U9N72Yk5xjaXYC0boPhqQoiD3nBaSfxqxsPvM9CKP55z4AEq6TLJlI7gK5rk','2025-06-23 03:22:32','2025-06-23 03:22:32','student',1,NULL,NULL,NULL,NULL,NULL);
INSERT INTO users VALUES(2,'waleed','admin@gmail.com',NULL,'$2y$12$l1G94K16aq1tVOU/zMeOw.mMcdRMtEZJ3Th4CJTArxsF8Prx0g6qu',NULL,'2025-07-06 17:24:35','2025-07-06 17:24:35','student',1,NULL,NULL,NULL,NULL,NULL);
INSERT INTO users VALUES(3,'╪د┘┘à┘ç┘╪»╪│ ┘ê╪د╪خ┘ ╪د┘┘è┘ê╪│┘┘è ','akram@gmail.com','2025-07-06 19:44:15','$2y$12$yoJRiZaq5xm3kaw0lEnPEe6JNjIr3g7fDKe23hvzPXBvbFNJliRwK','J4bOb2RiyQxIvrdwTjRXcEFwxysp8SHt8gdqQ184YhYfIKb8p5VWlPUAaglJ',NULL,'2025-11-20 19:56:56','admin',1,NULL,NULL,NULL,NULL,'df1hhRzqSdODFhuREPcKG-:APA91bGnvUTmZXrKY4OFzz2zFCVsrnOFRQ0h9E4NyL-cnMGLZjt4HbFTF903EQNG9jsrXNXsixBDFjI_t32kKd9V63ALOYa06D_HzfM4zjYDL4BsmjzU93w');
CREATE TABLE IF NOT EXISTS "announcements" ("id" integer primary key autoincrement not null, "user_id" integer not null, "title" varchar not null, "content" text not null, "level" varchar check ("level" in ('info', 'success', 'warning', 'danger')) not null default 'info', "target_type" varchar check ("target_type" in ('global_all', 'global_students', 'global_doctors', 'department', 'specialization', 'course')) not null, "target_id" integer, "expires_at" datetime, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade);
INSERT INTO announcements VALUES(2,3,'╪ز┘à ╪ز╪╣┘è┘è┘ ╪»┘â╪ز┘ê╪▒ ╪د╪د╪▒╪╣ ╪ش╪╣┘┘ç ┘è┘┘â╪ص┘â┘à ┘è ╪»┘â╪د╪ز╪▒╪ر','╪ز┘à ╪ز╪╣┘è┘è┘ ╪»┘â╪ز┘ê╪▒ ╪د╪د╪▒╪╣ ','warning','global_doctors',NULL,'2025-07-11 00:29:00','2025-07-11 01:33:43','2025-07-11 01:33:43');
INSERT INTO announcements VALUES(3,15,'╪ذ┘â╪▒┘ç ╪د╪«╪ز╪ذ╪د╪▒ ','╪د┘╪│╪د╪╣┘ç 8 ','warning','course',6,'2025-07-13 12:00:00','2025-07-11 01:57:59','2025-07-11 01:57:59');
INSERT INTO announcements VALUES(4,3,'╪ذ╪س╪╡╪ذ╪ذ',replace('╪س┘é╪ذ┘é\n','\n',char(10)),'danger','global_doctors',NULL,NULL,'2025-07-11 02:23:30','2025-07-11 02:23:30');
CREATE TABLE IF NOT EXISTS "discussions" ("id" integer primary key autoincrement not null, "course_id" integer not null, "student_id" integer not null, "title" varchar not null, "content" text not null, "status" varchar check ("status" in ('open', 'closed', 'resolved')) not null default 'open', "best_reply_id" integer, "created_at" datetime, "updated_at" datetime, foreign key("course_id") references "courses"("id") on delete cascade, foreign key("student_id") references "students"("id") on delete cascade);
INSERT INTO discussions VALUES(2,6,13,'╪د╪ذ┘ê╪│ ╪▒╪د╪│┘â ┘è╪د╪▓┘à┘','╪د╪ذ┘ê╪│ ╪▒╪د╪│┘â ┘è╪د╪▓┘à┘╪د╪ذ┘ê╪│ ╪▒╪د╪│┘â ┘è╪د╪▓┘à┘╪د╪ذ┘ê╪│ ╪▒╪د╪│┘â ┘è╪د╪▓┘à┘╪د╪ذ┘ê╪│ ╪▒╪د╪│┘â ┘è╪د╪▓┘à┘╪د╪ذ┘ê╪│ ╪▒╪د╪│┘â ┘è╪د╪▓┘à┘','open',NULL,'2025-07-11 06:54:06','2025-07-11 06:54:06');
INSERT INTO discussions VALUES(3,6,4,'╪ذ╪╡╪س╪ذ╪╡╪س╪ذ╪ج╪╡╪س╪ج╪ذ╪╡╪س╪ج╪ذ╪╡╪س╪ذ','╪╡╪س╪ج╪ذ╪╡╪س╪ج╪╡╪س┘é╪ذ╪س┘é╪▒╪س┘é╪▒╪س┘é╪ذ╪س┘é╪س╪س╪ذ┘é╪س╪ذ','open',NULL,'2025-07-13 01:11:43','2025-07-13 01:11:43');
INSERT INTO discussions VALUES(4,6,13,'┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê',replace('┘à╪┤ ╪╖╪ذ┘è╪║┘è\n┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê┘ê','\n',char(10)),'open',NULL,'2025-07-13 01:34:24','2025-07-13 01:34:24');
CREATE TABLE IF NOT EXISTS "discussion_replies" ("id" integer primary key autoincrement not null, "discussion_id" integer not null, "user_id" integer not null, "content" text not null, "created_at" datetime, "updated_at" datetime, foreign key("discussion_id") references "discussions"("id") on delete cascade, foreign key("user_id") references "users"("id") on delete cascade);
INSERT INTO discussion_replies VALUES(3,2,14,replace('╪د┘╪║╪د\n╪س┘é╪ذ╪س┘é╪ذ╪س','\n',char(10)),'2025-07-11 07:02:11','2025-07-11 07:02:11');
INSERT INTO discussion_replies VALUES(5,3,15,'╪س┘é┘╪س┘é╪▒╪س┘é┘╪س┘╪س┘é┘╪س┘é','2025-07-13 01:23:38','2025-07-13 01:23:38');
INSERT INTO discussion_replies VALUES(6,3,15,'╪ذ╪╡╪س╪ذ╪ج╪س╪ج╪ذ╪س┘é╪ذ╪س┘é╪ذ┘é','2025-07-13 01:25:09','2025-07-13 01:25:09');
CREATE TABLE IF NOT EXISTS "contact_messages" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "subject" varchar not null, "message" text not null, "created_at" datetime, "updated_at" datetime);
INSERT INTO contact_messages VALUES(2,'wefefef','hosamalyuosfii@gmail.com','registration','fwewefwe','2025-07-12 01:58:50','2025-07-12 01:58:50');
INSERT INTO contact_messages VALUES(5,'╪س┘é┘╪س┘é┘╪▒╪س┘é╪▒','akramalyuosfi77@gmail.com','general','╪س┘é╪ذ╪س┘é╪ذ','2025-07-15 23:10:24','2025-07-15 23:10:24');
INSERT INTO contact_messages VALUES(8,'╪ذ╪س┘é╪ذ╪س┘é╪ذ','hosamalyuosfiii@gmail.com','academic','╪س┘é┘╪س┘é┘╪س┘é┘╪س┘é┘','2025-07-18 23:17:19','2025-07-18 23:17:19');
CREATE TABLE IF NOT EXISTS "notifications" ("id" varchar not null, "type" varchar not null, "notifiable_type" varchar not null, "notifiable_id" integer not null, "data" text not null, "read_at" datetime, "created_at" datetime, "updated_at" datetime, primary key ("id"));
INSERT INTO notifications VALUES('1b1f7178-78aa-4ae0-8988-db8ae936027b','App\Notifications\NewSubmissionReceived','App\Models\User',15,'{"submission_id":9,"student_name":"Akram alyuosfi","assignment_title":"\u0628\u062b\u0642\u0628\u0642","message":"\u0642\u0627\u0645 \u0627\u0644\u0637\u0627\u0644\u0628 ''Akram alyuosfi'' \u0628\u062a\u0633\u0644\u064a\u0645 \u0627\u0644\u062a\u0643\u0644\u064a\u0641 ''\u0628\u062b\u0642\u0628\u0642''.","url":"http:\/\/localhost:8000\/doctor\/assignments","icon":"bi-file-earmark-check-fill"}','2025-07-13 00:52:27','2025-07-13 00:42:24','2025-07-13 00:52:27');
CREATE TABLE IF NOT EXISTS "locations" ("id" integer primary key autoincrement not null, "name" varchar not null, "type" varchar not null default 'hall', "description" text, "created_at" datetime, "updated_at" datetime);
INSERT INTO locations VALUES(1,'10','hall','┘à╪┤╪┤╪┤╪┤╪┤╪┤╪┤╪┤ ╪╖╪ذ┘è╪╣┘è','2025-07-17 01:48:49','2025-07-17 01:49:19');
INSERT INTO locations VALUES(2,'9','hall','┘╪╕╪▒┘è','2025-07-18 21:05:21','2025-07-18 21:05:21');
CREATE TABLE IF NOT EXISTS "schedules" ("id" integer primary key autoincrement not null, "specialization_course_academic_period_id" integer not null, "location_id" integer not null, "day_of_week" varchar check ("day_of_week" in ('Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday')) not null, "start_time" time not null, "end_time" time not null, "created_at" datetime, "updated_at" datetime, foreign key("specialization_course_academic_period_id") references "specialization_course_academic_period"("id") on delete cascade, foreign key("location_id") references "locations"("id") on delete cascade);
INSERT INTO schedules VALUES(1,7,2,'Saturday','08:00','10:00','2025-07-17 01:49:50','2025-08-20 18:38:10');
INSERT INTO schedules VALUES(2,6,1,'Monday','10:00','12:00','2025-07-17 02:26:07','2025-11-03 04:38:55');
INSERT INTO schedules VALUES(3,6,1,'Sunday','08:00','10:00','2025-07-18 03:38:49','2025-07-18 03:38:49');
CREATE TABLE IF NOT EXISTS "attendances" ("id" integer primary key autoincrement not null, "lecture_id" integer not null, "student_id" integer not null, "status" varchar check ("status" in ('present', 'absent', 'excused_absence')) not null default 'absent', "notes" text, "created_at" datetime, "updated_at" datetime, foreign key("lecture_id") references "lectures"("id") on delete cascade, foreign key("student_id") references "students"("id") on delete cascade);
INSERT INTO attendances VALUES(1,4,2,'excused_absence',NULL,'2025-08-22 04:56:02','2025-08-22 04:56:41');
INSERT INTO attendances VALUES(2,4,4,'present',NULL,'2025-08-22 04:56:56','2025-08-22 04:56:56');
INSERT INTO attendances VALUES(3,4,5,'present',NULL,'2025-08-22 04:56:57','2025-08-22 04:56:57');
CREATE TABLE IF NOT EXISTS "personal_access_tokens" ("id" integer primary key autoincrement not null, "tokenable_type" varchar not null, "tokenable_id" integer not null, "name" text not null, "token" varchar not null, "abilities" text, "last_used_at" datetime, "expires_at" datetime, "created_at" datetime, "updated_at" datetime);
INSERT INTO personal_access_tokens VALUES(1,'App\Models\User',3,'manager-auth-token','c0c659ab1ee165e4ce36f93fd3b080ba8c44624bff1202edcd032905fd42357d','["*"]',NULL,NULL,'2025-10-12 00:24:30','2025-10-12 00:24:30');
INSERT INTO personal_access_tokens VALUES(2,'App\Models\User',3,'manager-auth-token','15b8c3d2a935eb470cc906c563e18dcdaec69372056f9d912a8acbfd0dfbd1cc','["*"]',NULL,NULL,'2025-10-12 02:20:10','2025-10-12 02:20:10');
INSERT INTO personal_access_tokens VALUES(3,'App\Models\User',3,'manager-auth-token','2c056817ae315deab069351561e89cea1efd033991a547ed8344c7b73e599fa0','["*"]',NULL,NULL,'2025-10-12 02:25:46','2025-10-12 02:25:46');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('migrations',66);
INSERT INTO sqlite_sequence VALUES('departments',33);
INSERT INTO sqlite_sequence VALUES('specializations',7);
CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");
CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");
CREATE INDEX "jobs_queue_index" on "jobs" ("queue");
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");
CREATE INDEX "batches_start_year_index" on "batches" ("start_year");
CREATE INDEX "batches_specialization_id_index" on "batches" ("specialization_id");
CREATE INDEX "batches_current_academic_year_index" on "batches" ("current_academic_year");
CREATE INDEX "batches_current_semester_index" on "batches" ("current_semester");
CREATE INDEX "courses_academic_year_index" on "courses" ("academic_year");
CREATE UNIQUE INDEX "courses_code_unique" on "courses" ("code");
CREATE INDEX "courses_semester_index" on "courses" ("semester");
CREATE INDEX "courses_specialization_id_index" on "courses" ("specialization_id");
CREATE INDEX "specialization_course_academic_period_academic_year_index" on "specialization_course_academic_period" ("academic_year");
CREATE INDEX "specialization_course_academic_period_semester_index" on "specialization_course_academic_period" ("semester");
CREATE UNIQUE INDEX "unique_course_period" on "specialization_course_academic_period" ("specialization_id", "course_id", "academic_year", "semester");
CREATE INDEX "assignments_course_id_index" on "assignments" ("course_id");
CREATE INDEX "assignments_doctor_id_index" on "assignments" ("doctor_id");
CREATE INDEX "assignments_deadline_index" on "assignments" ("deadline");
CREATE UNIQUE INDEX "submissions_assignment_id_student_id_unique" on "submissions" ("assignment_id", "student_id");
CREATE INDEX "submissions_status_index" on "submissions" ("status");
CREATE INDEX "submissions_grade_index" on "submissions" ("grade");
CREATE INDEX "submission_files_file_type_index" on "submission_files" ("file_type");
CREATE UNIQUE INDEX "doctors_email_unique" on "doctors" ("email");
CREATE INDEX "project_files_project_id_index" on "project_files" ("project_id");
CREATE INDEX "project_files_type_index" on "project_files" ("type");
CREATE UNIQUE INDEX "project_likes_project_id_user_id_unique" on "project_likes" ("project_id", "user_id");
CREATE INDEX "project_likes_project_id_index" on "project_likes" ("project_id");
CREATE INDEX "project_likes_user_id_index" on "project_likes" ("user_id");
CREATE INDEX "project_comments_project_id_index" on "project_comments" ("project_id");
CREATE INDEX "project_comments_user_id_index" on "project_comments" ("user_id");
CREATE UNIQUE INDEX "project_student_project_id_student_id_unique" on "project_student" ("project_id", "student_id");
CREATE INDEX "projects_academic_year_index" on "projects" ("academic_year");
CREATE INDEX "projects_batch_id_index" on "projects" ("batch_id");
CREATE INDEX "projects_semester_index" on "projects" ("semester");
CREATE INDEX "projects_specialization_id_index" on "projects" ("specialization_id");
CREATE INDEX "projects_status_index" on "projects" ("status");
CREATE INDEX "projects_student_id_index" on "projects" ("student_id");
CREATE INDEX "projects_doctor_id_index" on "projects" ("doctor_id");
CREATE INDEX "students_batch_id_index" on "students" ("batch_id");
CREATE INDEX "students_current_academic_year_index" on "students" ("current_academic_year");
CREATE INDEX "students_current_semester_index" on "students" ("current_semester");
CREATE UNIQUE INDEX "students_email_unique" on "students" ("email");
CREATE INDEX "students_status_index" on "students" ("status");
CREATE UNIQUE INDEX "students_student_id_number_unique" on "students" ("student_id_number");
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE INDEX "announcements_target_type_index" on "announcements" ("target_type");
CREATE INDEX "announcements_target_id_index" on "announcements" ("target_id");
CREATE INDEX "discussions_course_id_index" on "discussions" ("course_id");
CREATE INDEX "discussions_student_id_index" on "discussions" ("student_id");
CREATE INDEX "discussions_status_index" on "discussions" ("status");
CREATE INDEX "discussion_replies_discussion_id_index" on "discussion_replies" ("discussion_id");
CREATE INDEX "discussion_replies_user_id_index" on "discussion_replies" ("user_id");
CREATE INDEX "notifications_notifiable_type_notifiable_id_index" on "notifications" ("notifiable_type", "notifiable_id");
CREATE UNIQUE INDEX "locations_name_unique" on "locations" ("name");
CREATE UNIQUE INDEX "schedules_location_id_day_of_week_start_time_unique" on "schedules" ("location_id", "day_of_week", "start_time");
CREATE UNIQUE INDEX "attendances_lecture_id_student_id_unique" on "attendances" ("lecture_id", "student_id");
CREATE INDEX "attendances_status_index" on "attendances" ("status");
CREATE INDEX "personal_access_tokens_tokenable_type_tokenable_id_index" on "personal_access_tokens" ("tokenable_type", "tokenable_id");
CREATE UNIQUE INDEX "personal_access_tokens_token_unique" on "personal_access_tokens" ("token");
CREATE INDEX "personal_access_tokens_expires_at_index" on "personal_access_tokens" ("expires_at");
COMMIT;
